<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú de Alimentos</title>
</head>
<body>
    <h2>Menú de Alimentos</h2>
    <script>
      setInterval(() => location.reload(), 5000);
    </script>
    <a href="/mis_pedidos">Ver mis pedidos</a>
    <form method="POST">
        <table border="1">
            <tr><th>Alimento</th><th>Precio</th><th>Imagen</th><th>Cantidad</th></tr>
            {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>${{ food.price }}</td>
                <td>
                    {% if food.image_path %}
                        <img src="/{{ food.image_path }}" alt="Imagen" width="80" height="80">
                    {% else %}
                        Sin imagen
                    {% endif %}
                </td>
                <td><input type="number" name="quantity_{{ food.id }}" min="0" value="0"></td>
            </tr>
            {% endfor %}
        </table>
        <label>Dirección de entrega:</label><input type="text" name="address" required><br>
        <label>Descripción del hogar:</label><input type="text" name="description"><br>
        <label>Nombre del pedido:</label><input type="text" name="customer_name" required><br>
        <button type="submit">Realizar pedido</button>
    </form>
    {% if total %}
    <h3>Total a pagar: ${{ total }}</h3>
    {% endif %}
</body>
</html>
